/*1selctor*/
* {   /*Universal Selector*/
    margin: 0%;
    padding: 0%;
}
body{   /*Element Selector*/
    background-color: whitesmoke;
}
.container {   /*Class Selector*/
    height: 50%;
    background-color: #993333;
    margin: 5%;
}
.container_1 {
    position: relative;
    height: 35%;
    background-color: #993333;
    margin: 5%;
}
.content {
    color: white;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: oblique;
    text-align: center;
    padding: 10%;
}

.content_1 {
    padding: 90px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    height:26%;
    justify-content: space-evenly;
}

.container_2 {
    position: relative;
    height: 85%;
    background-color: #993333;
    margin: 5%;
}

#whitespace {   /*Id Selector*/
    text-align: center;
    font-size: 300%;
    border: solid#993333;
    margin: 5%;
}
.content_2 {
    margin: 10%;
    padding: 5%;
}
.content_1>div>span {   /*child combinator selectors*/
    background-color: aliceblue;
    font-size: 200%;
    border-radius: 20%;
    display: inline;
    margin: 8%;
  justify-content: center;
  align-items: center;
}
.container:hover, .container_1:hover, .container_2:hover {   /*grouping selector*/
    background-color: black;
}
#whitespace:hover {   /*Psudo class Selector*/
    background-color: black;
    color: aliceblue;
}
span:hover {
    background-color: #993333;
}